body{
    margin: 0;
    /* padding: 50px; */
    box-sizing: border-box;
    background: url(assets/green-islamic-background-with-mosque-and-lanterns-suitable-for-banners-of-eid-al-fitr-eid-al-adha-maulid-nabi-muharram-islamic-new-year-and-other-islamic-themes-free-vector.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: rgba(0, 0, 0, 0.5); */
}
body::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px); 
    z-index: -1;
}
#main-div{
    width: 100%;
    height: 100vh;
}
#result{
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 0; */
    position: absolute;
    bottom: 20px;
    width: 100%;

}
#result p{
    position: absolute;
    bottom: 75%px;
    left: 50%;
    top: 25%;
    text-align: center;
    transform: translateX(-50%);
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
    margin: 0;
}
.img-div1,
.img-div2,
.img-div3,
.img-div4,
.img-div5{
    position: relative;
}